<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>借书记录</title>
</head>
<body>
	{if condition="$authority == 1 "}
	用户名：{$username}<br>
	<h4><a href="/user/logout">注销</a></h4>
	-----管理员模式-----<br>
	<h1>此书名：{$single->book->bookname}</h1>
	<h2>借书记录</h2>
	<table width="60%">
		<tr>
			<th>用户名</th>
			<th>电话号码</th>
			<th>书籍编号</th>
			<th>借出时间</th>
			<th>归还时间</th>
			<th>最晚归还时间</th>
		</tr>
		{volist name="result" id="all"}
		<tr align="center">
			<td>{$all->user->username}</td>
			<td>{$all->user->phone}</td>
			<td>{$all.chucang_id}</td>
			<td>{$all.date}</td>
			<td>
				{if condition="$all.redate != ''"}
				{$all.redate}
				{else/}
				未还
				{/if}
			</td>
			<td>{$all.lastdate}</td>
		</tr>
		{/volist}
	</table>
	<a href="/book">返回</a>
	{else/}
	<h1>权限不足！</h1>
	{/if}
</body>
</html>